* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-color: yellow !important;
}

header {
    height: 150px;
    width: 100%;
    background-color: red;
    position: fixed;
}

#webAppName {
    margin-top: 30px;
    text-align: center;   
}

#loginAndSignUpContainer {
    background-color: darkred;
    height: 500px;
    margin-top: 200px;
    position: absolute;
    color: #fff;
}

.loginAndSignUpText {
    text-align: center;
}

.inputField {
    
}

.inputLabel {
    width: 100%;
    text-align: center;
}

#roleSelection {
    margin-left: 45%;
}

.linkToOtherPage {
    text-align: center;
    margin-right: 100px;
    width: 10%;
    height: 50px;
    color: #000;
    float: right;
    text-decoration: none;
    background-color: orange;
}

#likedCompanyContainer {
    margin-top: 175px;
    position: absolute;
    background-color: sandybrown;
    height: 500px;
}

#likedCompanyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-auto-rows: 1fr;
    column-gap: 5%;
    grid-row-gap: 3%;
    overflow-y: auto;
    height: 400px;
    background-color: red;
}
.companyContainer {
    width: 100%;
    height: 200px;
    background-color: white;
}

#setLocation {
    position: absolute;
    margin-left: 70%;
    margin-top: 175px;
}

#companyListContainer {
    height: 500px;
    position: absolute;
    margin-top: 175px;
}

#companyListGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 5%;
    grid-row-gap: 3%;
    overflow-y: auto;
    height: 400px;
}

.companyListBox {
    width: 100%;
    height: 200px;
    background-color: #fff;
}

#farFromLocationMessage {
    color: red;
}